<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jomik.apparelapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApparelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.activities.MainActivity" />
        <activity
            android:name=".presentation.activities.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".presentation.activities.EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
